.slider_transition {
    min-width: 900px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(153, 131, 76);
}

.container_slider {
    width: 800px;
    height: 500px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.slider_left {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
}

.slider_left img {
    margin: auto;
    display: block;
}

.slider_center {
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
}

.slider_center img {
    margin: auto;
    display: block;
}

.slider_right {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
}

.slider_right img {
    margin: auto; 
    display: block;
}




.button {
    min-width: 900px;
    margin: 20px;
    display: flex;
    justify-content: center;
}
button {
    display: block;
    margin: 10px;
}

.slider_focus {
    min-width: 900px;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: chocolate;
}

.line_slider {
    width: 320px;
    height: 500px;
    border: 5px solid black;
    box-sizing: border-box;
    overflow: hidden;
}

.line_slider img {
    width: 320px;
    height: 500px;
}

.slider_focus button {
    width: 70px;
    height: 40px;
}